*{
    box-sizing: border-box;
}
fieldset{
    width: 50%;
    margin: 0 auto;
}

.title{
    text-align: center;
}

.submitContainer{
    width: 100%;
    text-align: center;
}

#message-container{
    width: 30%;
}

.orderList, .search{
    width: 50%;
}
.form-select, #search{
    width: 20%;
}